<h2>Reset your password</h2>
<p>We recieved a password reset request from you. For reset your password you can click the link below:</p>
<a href="{{resetLink}}">Reset password</a>
<p>If you weren't request a password reset, you don't need to do anything.</p>